#navbar {
  background-color: #17a2b8;
  
}
#navbarHeader {
  background-color: #f8f9fa;
}

#jumbotronIMG {
  background-color: #17a2b8;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: .0rem;
  margin-top: 1rem;

}

#card-img {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle-card {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

#card-img:hover #card-img {
  opacity: 0.3;
}

#card-img:hover .middle-card {
  opacity: 1;
}

.text-card {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#card-img01, #card-img02, #card-img03, #card-img08, #card-img09, #card-img10, #card-img11 {
  background-color: #e5e6e7;
  text-align: center;
}

#card-img04 {
  background-color: #57ac67;
  text-align: center;
}

#card-img05 {
  background-color: #36987b;
  text-align: center;
}

#card-img06 {
  background-color: #1c878c;
  text-align: center;
}

#card-img07 {
  background-color: #01759c;
  text-align: center;
}

#colMdCardImg {
  margin-top: 0.8rem;
}

#card-img01, #card-img02, #card-img03, #card-img04, #card-img05, 
  #card-img06, #card-img07, #card-img08, #card-img09, #card-img10, #card-img11 {
	overflow: hidden;
}

#card-img01 img, #card-img02 img, #card-img03 img, #card-img04 img, #card-img05 img, #card-img06 img,
  #card-img07 img, #card-img08 img, #card-img09 img, #card-img10 img, #card-img11 img {
	max-width: 100%;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#card-img01:hover img, #card-img02:hover img, #card-img03:hover img, #card-img04:hover img,
  #card-img05:hover img, #card-img06:hover img, #card-img07:hover img, #card-img08:hover img,
    #card-img09:hover img, #card-img09:hover img, #card-img10:hover img, #card-img11:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}



/*

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 80px;
  height: 80px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  width: 300px;
  height: 300px;
}

*/